<!-- <input #selectFile class="form-control" type="file" (change)="selectFiles($event)" multiple>
<button class="btn btn-outline-primary" (click)="prueba()" >Probando...</button>
<ng-container *ngIf="image">
    <img src="{{'data:image/jpg;base64,' + image}}" alt="" width="200px" height="200px">
</ng-container>
<ng-container *ngIf="url" >
  <app-image-viewer [images]="[url]"
  [idContainer]="'idOnHTML'"
  [loadOnInit]="true"></app-image-viewer>
</ng-container> -->

<app-header></app-header>
<router-outlet></router-outlet>


